html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
  word-break: break-all;
  hyphens: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: rosybrown;
}
table {
  font-size: 75%;
}
